<%# References list partial - displays research references with OG metadata preview %>
<%# locals: references, section %>

<turbo-frame id="references-frame">
<div class="references" data-controller="references" data-references-section-id-value="<%= section.id %>">
  <header class="references__header">
    <h3 class="references__title">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="18" height="18">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
      </svg>
      Research Sources
    </h3>
    <span class="references__count"><%= references.count %> sources</span>
  </header>

  <% if references.any? %>
    <ul class="references__list">
      <% references.each do |ref| %>
        <%= render "references/card", reference: ref %>
      <% end %>
    </ul>
  <% else %>
    <div class="references__empty">
      <p>No research sources yet.</p>
      <p class="txt-small txt-secondary">Sources will appear here after you use the Research tool.</p>
    </div>
  <% end %>
</div>
</turbo-frame>
